<h1>About</h1>
<h2>Egon Schiele</h2>
<p>Egon Leo Adolf Ludwig Schiele  was an Austrian Expressionist painter. His work is noted for
     its intensity and its raw sexuality, and for the many self-portraits the artist produced, including nude self-portraits. The twisted body shapes and the 
     expressive line that characterize Schiele's paintings and drawings mark the artist as an early exponent of Expressionism. Gustav Klimt, a figurative painter 
     of the early 20th century, was a mentor to Schiele.</p>