<h1 ID="works">SOME OF HIS WORKS</h1>
<div id="images">
    <div class="img">
        <img src="/images/Anton_Peschka.jpeg" alt="portrait of Andrew Peschka">
        <p>Portrait of Andrew Peschka</p>
    </div>
    <div class="img">
        <img src="/images/Egon_Schiele.jpeg" alt="self portrait">
        <p>Self Portrait</p>
    </div>
    <div class="img">
        <img src="/images/Wally.jpeg" alt="portrait of Wally - Egon Schiele lover">
        <p>Portrait fo Wally</p>
    </div>
</div>